<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cricket Scoring App</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .scoreboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ddd;
        padding: 10px;
        margin-bottom: 10px;
        color: #333;
    }

    .score-container {
        text-align: center;
    }

    .score-container .scoreboard {
        margin-bottom: 0;
    }

    .score-container .scoreboard>div {
        color: black;
        margin: 5px;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .totalScore {
        font-weight: bold;
    }

    .wicket {
        font-weight: bold;
        color: #cc0000;
    }

    .scoreboard span {
        font-weight: normal;
    }

    /* Add more styles as needed */

    .live-label {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 5px;
        animation: blink 1s infinite;
        cursor: pointer;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<body>
    <h1>Cricket Scoring App</h1>
    <div class="live-label">Live Score</div>
    <div class="scoreboard">
        <div class="totalScore">Total Score: <span id="totalScoreValue">0</span></div>
        <div class="wicket">Wickets: <span id="wicketValue">0</span>/10</div>
        <div class="overs">Overs: <span id="oversValue">0</span><span>/10</span></div>
    </div>
    <div id="score" class="score-container"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>

</html>